{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": ["@typescript-eslint"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      }
    }
  },
  // Order matters here.
  "extends": [
    "airbnb/base",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  // 0 -> Omit
  // 1 -> Warning
  // 2 -> Error -> Errors will not allow the app to build in CI
  "rules": {
    "class-methods-use-this": 0,
    "global-require": 0,
    "lines-between-class-members": 0,
    "no-return-assign": 1,
    "import/no-extraneous-dependencies": 1,
    "import/extensions": 0,
    "@typescript-eslint/camelcase": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/interface-name-prefix": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-var-requires": 1
  }
}
